.blogs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.blogs__heading {
  text-align: center;
}

.blogs__heading > h1 {
  font-family: "Montserrat";
  font-size: 3rem;
}

.blogposts {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4rem;
  padding: 5px;
}

.blog__card {
  border-radius: 5px;
  overflow: hidden;
  transition: 0.4s ease-out;
  max-width: 300px;
  height: 280px;
}

.blog__card > img {
  max-width: -webkit-fill-available;
}

.blog__card:hover {
  transform: translateY(-5px);
  background-color: rgb(245 245 245);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
}

.blog__content {
  padding: 10px;
}

.blog__content > h3 {
  text-align: left;
  color: #414141;
}
.blog__content > span:nth-child(2) {
  border-left: 1px solid rgb(131, 131, 131);
  padding-left: 8px;
  margin-left: 10px;
}

@media screen and (max-width: 1100px), (max-width: 768px) {
  .blogs {
    margin-left: 20px;
    margin-right: 20px;
  }
  .blogposts {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 500px) {
  .blogs {
    margin-left: 10px;
    margin-right: 10px;
  }
  .blogs__heading > h1 {
    font-size: 2.5rem;
  }
  .blogposts {
    grid-template-columns: auto;
  }
}
